body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: black;
    color: seashell;
    text-align: center;
    font-family: Helvetica;
    opacity: 0.9;
    font-size: 22px;

}
header {
    display: flex;
    background-color: black;
    width: 130vmin;
    border-bottom: 1px solid seashell;
    position: fixed;
    /* border: 1px solid red; */
    height: 69px;
}
.logo {
    height: 50px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}
.nav {
    margin-left: auto;
    margin-top: 20px;
}
.nav a {
    color: white;
}
.one {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1u95ywa*_ga*MjQ4NTM0MDA2My4xNjU3MzcxMTcx*_ga_3LRZM6TM9L*MTY2MzY0MDg2NS4xNjMuMS4xNjYzNjQwOTAxLjI0LjAuMA..");
    min-height: 700px;
    display: flex;
    align-items:center;
    margin-top: 69px;
    margin: 100px 40px;
    background-size: cover;
}

.mission-statement {
    background-color: black;
    width: 100%;
}
.two {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
    /* align-content: center; */
    max-width: 1000px;
    margin: 10px auto; 
    /* padding: 10px; */
}
.img {
    margin: 15px;
    width: 300px;
    height: 200px;
    background-size: cover;
}
.img1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-donut.jpg?_gl=1*zrsexs*_ga*MjQ4NTM0MDA2My4xNjU3MzcxMTcx*_ga_3LRZM6TM9L*MTY2MzY3Mzc1Ni4xNjUuMS4xNjYzNjc0NDYxLjU1LjAuMA..");
}
.img2 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-spiced-rum.jpg?_gl=1*zrsexs*_ga*MjQ4NTM0MDA2My4xNjU3MzcxMTcx*_ga_3LRZM6TM9L*MTY2MzY3Mzc1Ni4xNjUuMS4xNjYzNjc0NDYxLjU1LjAuMA..");
}
.img3 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-donut.jpg?_gl=1*zrsexs*_ga*MjQ4NTM0MDA2My4xNjU3MzcxMTcx*_ga_3LRZM6TM9L*MTY2MzY3Mzc1Ni4xNjUuMS4xNjYzNjc0NDYxLjU1LjAuMA..");
}
.img4 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-myrtle-ave.jpg?_gl=1*1syyvav*_ga*MjQ4NTM0MDA2My4xNjU3MzcxMTcx*_ga_3LRZM6TM9L*MTY2MzY3Mzc1Ni4xNjUuMS4xNjYzNjc0NDYxLjU1LjAuMA..");
}
.img5 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-bedford-bizarre.jpg?_gl=1*np2xhq*_ga*MjQ4NTM0MDA2My4xNjU3MzcxMTcx*_ga_3LRZM6TM9L*MTY2MzY3Mzc1Ni4xNjUuMS4xNjYzNjc0NDYxLjU1LjAuMA..");
}
.three {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*n6x1v6*_ga*MjQ4NTM0MDA2My4xNjU3MzcxMTcx*_ga_3LRZM6TM9L*MTY2MzY3ODQzNC4xNjYuMS4xNjYzNjc4NzA2LjcuMC4w");
    min-height: 500px;
    /* max-width: 1200px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 40px;
}
.boxes {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    /* margin: 25px 100px; */
    flex-wrap: wrap;
}

.box {
    height: 300px;
    width: 300px;
    background-color: black;
    opacity: 1;
    line-height: 45px;
    margin: 10px;
}
.four {
    height: 200px;
    width: auto;
}
.footer {
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
}
@media screen and (max-width: 875px) and (max-height: 350px) {
    .header {
        width: 100vw;
    }
}
@media screen and (max-width: 450px) {
    .logo {
        display: none;
    }
    .nav {
        margin-left: 25px;
        position: absolute; 
         font-size: 20px; 
         float: left;
    }
    .box {
        width: 100px;
        height: 100px;
        font-size: 10px;
        line-height: 1;
    }
    .three h2 {
        color: black;
    }
    .boxes {
        display: flex;
        flex-direction: column;
        align-content: center;
    
    }

}